@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    background: rgb(178, 174, 247);
    background: linear-gradient(90deg, rgba(178, 174, 247, 1) 0%, rgba(213, 213, 240, 1) 35%, rgba(185, 226, 235, 1) 100%);

    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
}

.weather-info {
    margin-top: 20px;
}

#icon img {
    max-width: 100px;
}
